<!-- The purpose of this base.erb is that it provides a layout that you can use for EVERY page. -->
<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->

    <!-- Theme CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-grayscale/1.1.0/css/grayscale.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
   <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">PackItUp</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <!--<li>-->
                    <!--    <a class="page-scroll" href="#custompack">Custom Pack</a>-->
                    <!--</li>-->
                    <li>
                        <a class="page-scroll" href="#survey">Survey</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header style="background-image: url(images/Australia.jpg)" class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">PackItUp</h1>
                        <h4 class="intro-text">The easy way to pack</h4>
                        <a href="#survey" class="btn btn-circle page-scroll">
                            <i style="color:black"class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <%= yield %>

    <!-- About Section -->
    <!--<section id="custompack" class="container content-section text-center">-->
    <!--    <div class="row">-->
    <!--        <div class="col-lg-8 col-lg-offset-2">-->
    <!--            <h2>Custom Pack</h2>-->
    <!--            <p>If you're in a hurry, this is for you! -->
    <!--            <br>Input what you need to pack below, and we'll print it into an organised packing list. If you aren't sure what you need to pack, go down to the survey. </p>-->
    <!--            <form method = "POST" action = '/cp'>-->
    <!--                <p>What clothes do you need to bring?</p>-->
    <!--                <textarea name="cpclothes"></textarea>-->
    <!--                <br><br><br>-->
    <!--                <p>What technology do you need to bring?</p>-->
    <!--                <textarea name="cptech"></textarea>-->
    <!--                <br><br><br>-->
    <!--                <p>What work or school items do you need to bring?</p>-->
    <!--                <textarea name="cpwork"></textarea>-->
    <!--                <br><br><br>-->
    <!--                <p>What toiletries do you need to bring?</p>-->
    <!--                <textarea name="cpbathroom"></textarea>-->
    <!--                <br><br><br>-->
    <!--                <p>Is there anything else?</p>-->
    <!--                <textarea name="cpextra"></textarea>-->
    <!--                <br><br><input type="submit" class="btn btn-default btn-lg"></a>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->

    <!-- Download Section -->
    <section id="about" class="content-section text-center">
        <div style="background-image: url('images/downloads-bg.jpg')" class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About</h2>
                    <p>This is for trips where you aren't sure what you need to pack. We'll give you everything you might need to pack!</p>
                    <br><br><br>
                    <p>Are you flying?</p>
                    
                    <input type = "submit" class="btn btn-default btn-lg">
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <!--<section id="about" class="container content-section text-center">-->
    <!--    <div class="row">-->
    <!--        <div class="col-lg-8 col-lg-offset-2">-->
    <!--            <h2>Contact Start Bootstrap</h2>-->
    <!--            <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>-->
    <!--            <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>-->
    <!--            </p>-->
    <!--            <ul class="list-inline banner-social-buttons">-->
    <!--                <li>-->
    <!--                    <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->

    <!-- Map Section -->
    <!--<div id="map"></div>-->

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2016</p>
        </div>
    </footer>
</body>
</html>