<!DOCTYPE html>
<html>
<head>
  <title>Packing List</title>
 
</head>
 
<body>
  <h1>Here is Your Packing List:</h1>
  <h3>Make sure to put it all in your bag and have a great trip</h3>
    
</body>


</html>