<!DOCTYPE html>
<html>
  <head>
    <style>
    body {
        background: black;
    }
    
    h1 {
        color: white;
        text-align: center;
        font-family:"Helvetica Neue";
        font-weight: bold;
    } 
    
    h3 {
      color: white;
      text-align: center;
      font-family:"Lora";
      
    }
    
    #forest {
      display-inline: top-left;
    }
    
    
    </style>
 </head>
 
<body>
  <h1>Here is Your Packing List:</h1>
  <h3 class="final_text">Make sure to put it all in your bag and have a great trip</h3>
    
  <img src='images/forest.jpg' id="forest">
  <img src='images/mountains.jpg' id="mountains">
  <img src='images/hawaii.jpg' id="hawaii">
  <img src='images/london.jpg' id="london">
</body>


</html>